.react-calendar{
border:none;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
border-radius:12px;
padding:15px;
font-family:system-ui;
}

.react-calendar__tile--active{
background:#02afef;
color:white;
border-radius:6px;
}

.react-calendar__tile:hover{
background:#f2f2f2;
}
.react-calendar__tile{
height:50px;
position:relative;
display:flex;
align-items:center;
justify-content:center;
}

.booking-count{
position:absolute;
bottom:1px;
font-size:11px;
color:#02afef;
}