.promo-bar{
  width:100%;
  background:#ffffff;
  padding:40px 20px;
  display: none;
}

.promo-container-main{
  max-width:1100px;
  margin:auto;
  text-align:center;
}
.promo-container-main:first-child{
  margin-top: 2%;
}

/* RED TOP TEXT */

.promo-highlight{
  color:#e11d1d;
  font-weight:700;
  font-size:20px;
  margin-bottom:15px;
}

/* MAIN TITLE */

.promo-title-promo{
  font-size:34px;
  font-weight:700;
  color:#1e293b;
  margin-bottom:15px;
}

/* LINKS TEXT */

.promo-links-promo{
  font-size:18px;
  color:#333;
}

.promo-links-promo{
  color:#2563eb;
  font-weight:600;
}
@media(max-width:1024px){

.promo-title-promo{
  font-size:28px;
}

.promo-links-promo{
  font-size:16px;
}

}
@media(max-width:768px){

.promo-bar{
  padding:30px 15px;
}

.promo-highlight{
  font-size:16px;
}

.promo-title-promo{
  font-size:22px;
  line-height:1.3;
}

.promo-links-promo{
  font-size:14px;
  line-height:1.5;
}

}
@media(min-width:1400px){

.promo-title-promo{
  font-size:40px;
}

.promo-links-promo{
  font-size:20px;
}

}