.enroll-page{
padding:40px 20px;
background:#f9fafb;
min-height:100vh;
}

.title{
font-size:32px;
font-weight:700;
color:#02afef;
text-align:center;
}

.subtitle{
text-align:center;
color:#6b7280;
margin-bottom:30px;
}

.enroll-card{
max-width:900px;
margin:auto;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.prev-btn{
background:#e5e7eb;
border:none;
padding:12px 24px;
border-radius:8px;
cursor:pointer;
}



.prev-btn:hover{
background:#d1d5db;
}
.next-wrapper{
display:flex;
justify-content:flex-end;
gap:10px;
margin-top:30px;
}
.next-wrapper.has-prev{
justify-content:space-between;
}

.next-btn{
background:linear-gradient(90deg,#02afef,#0a8fc0);
border:none;
color:white;
padding:12px 28px;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.next-btn:disabled{
opacity:0.5;
cursor:not-allowed;
}

/* Stepper */

.stepper{
position:relative;
padding:30px;
border:1px solid #e5e7eb;
border-radius:12px;
margin-bottom:25px;
}

.step{
width:60px;
height:60px;
border-radius:50%;
background:#e5e7eb;
display:flex;
align-items:center;
justify-content:center;
}

.step.active{
background:#02afef;
color:white;
}

.progress-bar{
height:8px;
background:#e5e7eb;
border-radius:10px;
margin-top:20px;
}

.progress-fill{
height:100%;
background:#0f172a;
border-radius:10px;
transition:0.4s;
}

.stepper-wo-pbar{
display:flex;
justify-content:space-around;
}


/* Mobile */

@media(max-width:767px){

.enroll-card{
padding:20px;
}

.title{
font-size:26px;
}
.step{
    width:40px;
height:40px;        

}
.stepper{
    padding:0px;
}
.stepper-wo-pbar{
    margin-top: 15px;
}

}